
@font-face {
  font-family: 'shabnam';
  src: url('font/shabnam.ttf');
}


.menu {
	margin-top: 30px;
}


.img-logo {
	width: 150px;
	height: 31px;
	float: right;
}


button {
	padding: 4px 15px;
	font-size:  14px;
	border-radius: 2px;
	height: 32px ;
}



.login {
	font-family: shabnam;
	background-color: #51c5a8;
	color: #fff;
	border-color: #51c5a8;
	border: 1px;
	text-align: center;
	position: relative;
}


.Download{
	font-family: shabnam;
	position: relative;
	text-align: center;
	border: 1px solid transparent;
	border-color: lightgray;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	margin-left: 3px;
	background-color: white;
}



.background-img {
	background-image: url(img/4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 760px;
}


.text-bold {
	font-family: shabnam;
	color: #51c5a8;
    margin: 10px 0;
    font-size: 22px;
    text-align: center;
}


.text {
	font-family: shabnam;
	color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    text-align: center;
}



.login-btn {
	color: #51c5a8;
	background-color: #fff;
    margin: 10px 0;
    padding: 0 48px;
    font-size: 12px;
    box-shadow: none;
    font-weight: bold;
	border: 1px solid #51c5a8;
	border-radius: 4px;
}

.social {
	margin-top: 60px;
	top: 30vh;
	left: 40px;
	position: fixed;
	float: left;
	
}


.background-pc {
	width: 80%;

}


.card {
	width: 120px;
	height: 150px;
	border: 1px solid #F3F3F3 ;
	margin: 8px 2px;
	font-size: 12px;
	align-items: center;
	border-radius: 8px;
	flex-direction: column;
	justify-content: center;
	flex-grow: 0px;
}


.card:hover {
	background-color: rgb(203, 240, 255);
	color: rgba(0, 0, 0, 0.65);
}


.social-img {
	margin-bottom: 20px;
}


.center-mt{
	margin-top: 140px;
}



.img-little {
	height: 56px;
	float: right;
}


.img-big {
	height: 310PX;
	float: right;
}


.img-left {
	height: 310px;
	float: left;
}


.background-img-green {
	background-image: url(img/5.jpg);
	background-repeat: no-repeat;
	height: 460px;
    margin: 80px 0;
    display: flex;
    min-height: 100px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center 88%;
}

.text-green {
	color: white;
	font-size: 56px;
	font-family: shabnam;
}


.Privacy {
	background-color: #202020;
	padding:  64px 32px;

}


.text-privacy-bold {
	color: white;
    font-size: 22px;
    text-align: right;
    font-family: shabnam;
    text-align: right;
}


.text-privacy {
	color: #8F8F8F;
    margin: 20px 0;
    font-size: 14px;
    float: right;
    text-align: right;
    font-family: shabnam;
}


.footer {
	text-align: center;
    background-color: #101010;
	width: 40%;
    margin: 0 auto;
    display: flex;
    padding: 124px 20px;
    flex-direction: column;
    align-items: center;
}

.text-footer {
	color: #8F8F8F;
    font-size: 20px;
    font-family: shabnam;
    text-align: center;
}


.circle {
	color: #51c5a8;
}


.footer-link:hover {
	color: #51c5a8;
	text-decoration: none;
}

.footer-link , .link {
	color: #F3F3F3;
    margin: 0 4px;
    font-family: shabnam;
    font-size: 14px;
    text-align: center;
}
